.config-nav-block.WebTechnologyCodes-tab strong:before {
    background: url(../images/black-wtc.jpg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.admin__menu [data-ui-id^="menu-WebTechnologyCodes-"] .submenu-group-title span:before,
.admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-WebTechnologyCodes-"] span:before {
    background: url(../images/logo-menu.png) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

#WebTechnologyCodes_base_extensions table td.value, #WebTechnologyCodes_base_information table td.value{
    vertical-align: bottom;
}
