<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="WebTechnologyCodes_Base::Parent" title="Web Technology Codes" module="WebTechnologyCodes_Base" sortOrder="50" resource="WebTechnologyCodes_Base::parent"/>
    </menu>
</config>